{{#getPost @config.custom.frontPost}}
   <main>
      <div class="wrapper">
         <div class="post">
            <article>
               <header class="post__inner post__header post__header--full">
                  {{#if postViewConfig.displayMainTag}}
                     {{#if mainTag}}
                        <a href="{{ mainTag.url }}" class="post__maintag">{{ mainTag.name }}</a>
                     {{/if}}
                  {{/if}}
                  <h1 class="post__title">{{title}}</h1>

                  {{#checkIfAny postViewConfig.displayAuthor postViewConfig.displayDate postViewConfig.displayComments}}
                     <div class="card__meta post__meta">
                        {{#if postViewConfig.displayAuthor}}
                           <div class="post__author">{{ translate 'post.publishedBy' }}
                              {{#author}}
                                 <a href="{{url}}" class="invert" rel="author">
                                    {{name}}</a>
                              {{/author}}
                           </div>
                        {{/if}}

                        {{#if postViewConfig.displayDate}}
                           <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                              {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                 {{date createdAt @config.custom.formatDate}}
                              {{else}}
                                 {{date createdAt @config.custom.formatDateCustom}}
                              {{/checkIf}}
                           </time>
                        {{/if}}
                         
                         {{#if postViewConfig.displayComments}}
                           <div class="card__comments">
                              <svg aria-hidden="true">
                                 <title>{{ translate 'post.comments' }}</title>
                                 <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#comments"/>
                              </svg>
                              <a
                                 href="{{url}}#post-comments"
                                 data-disqus-identifier="{{id}}"
                                 class="invert"
                                 rel="nofollow">
                                 0
                              </a>
                           </div>
                        {{/if}}
                         
                     </div>
                  {{/checkIfAny}}
               </header>

               {{#featuredImage}}
                  {{#if url}}
                     <figure class="post__hero-image post__hero-image--full">
                        <img
                           src="{{url}}"
                           {{#if @config.site.responsiveImages}}                           
                              {{responsiveImageAttributes 'featuredImage' srcset.post sizes.post}}
                           {{/if}}
                           {{ lazyload "eager" }}
                           height="{{height}}"
                           width="{{width}}"
                           alt="{{alt}}">
                        {{#checkIfAny caption credits}}
                           <figcaption>
                              {{caption}}
                              {{credits}}
                           </figcaption>
                        {{/checkIfAny}}
                     </figure>                     
                  {{/if}}
               {{/featuredImage}}

               <div class="post__inner post__entry">
                  {{{text}}}
               </div>

               {{#checkIfAny postViewConfig.displayUpdatedDate postViewConfig.displayTags postViewConfig.displayShareButtons postViewConfig.displayAuthorBio postViewConfig.displayComments}}
                  <footer class="post__inner  post__footer">

                     {{#if postViewConfig.displayUpdatedDate}}
                        <div class="post__updated">{{ translate 'post.updated' }}
                           <time datetime="{{date modifiedAt 'YYYY-MM-DDTHH:mm'}}">
                              {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                 {{date modifiedAt @config.custom.formatDate}}
                              {{else}}
                                 {{date modifiedAt @config.custom.formatDateCustom}}
                              {{/checkIf}}
                           </time>
                        </div>
                     {{/if}}

                    {{#if postViewConfig.displayTags}}
                        {{#if tags}}
                           <div class="post__tag">
                              <h3 class="post__footer-title">{{ translate 'post.taggedIn' }}</h3>

                              <ul class="post__tag-inner">
                                 {{#each tags}}
                                    <li>
                                       <a href="{{url}}" class="invert">
                                          {{name}}
                                       </a>
                                    </li>
                                 {{/each}}
                              </ul>

                           </div>
                        {{/if}}
                     {{/if}}

                     {{#if postViewConfig.displayShareButtons}}
                        <div class="post__share">
                           <h3 class="post__footer-title">{{ translate 'post.shareStory' }}</h3>
                           <div class="post__share-inner">
                              {{> share-buttons}}
                           </div>
                        </div>
                     {{/if}}

                     {{#if postViewConfig.displayAuthorBio}}
                        <div class="author">
                           {{#author}}
                               {{#if avatar}}
                                <img  src="{{avatarImage.url}}" 
                                       class="author__avatar" 
                                       {{ lazyload "lazy" }}
                                       alt="{{avatarImage.alt}}" 
                                       height="{{avatarImage.height}}" 
                                       width="{{avatarImage.width}}">                           
                              {{/if}}
                              <div class="author__info">
                                 <h3 class="h5  author__name">
                                    <a href="{{url}}" class="invert" rel="author">
                                       {{name}}
                                    </a>
                                 </h3>
                                 {{#if description}}
                                    <p>{{description}}</p>
                                 {{/if}}
                              </div>
                           {{/author}}
                        </div>
                     {{/if}}

                     {{#if postViewConfig.displayComments}}
                        <div class="post__comments" id="post-comments">
                           {{#checkIf @config.custom.commentOnClick '==' "click" }}
                              <button class="post__comments-button js-post__comments-button">{{ translate 'post.loadComments' }}</button>
                              <div
                                 class="post__comments-inner post__comments-inner--hidden js-post__comments-inner">
                                 <h3 class="h6">
                                    {{ translate 'post.comments' }}</h3>
                                 {{> disqus}}
                              </div>
                           {{else}}
                              <div class="post__comments-inner">
                                 <h3 class="h6">
                                    {{ translate 'post.comments' }}</h3>
                                 {{> disqus}}
                              </div>
                           {{/checkIf}}
                        </div>
                     {{/if}}
                      
                      {{#if postViewConfig.displayShareButtons}}
                        <div class="post__bar postbar" id="js-post__bar">
                           <div class="postbar__inner">    

                                 <div class="postbar__share">
                                    <div class="postbar__share-inner">
                                       <h3>{{ translate 'post.share' }}</h3>
                                       {{> share-buttons-postbar}}
                                    </div>
                                 </div>                                                         

                              <div class="postbar__progress" id="js-postbar__progress" aria-hidden="true"></div>

                           </div>
                        </div>
                      {{/if}}

                  </footer>
               {{/checkIfAny}}
            </article>
         </div>
      </div>
   </main>
{{/getPost}}