{{#each tags}}
   <li
      class="card__item
                   {{#featuredImage}}
                        {{#unless url}}
                            card__item--full
                        {{/unless}}
                   {{/featuredImage}}">
      {{#featuredImage}}
         {{#if url}}
            <a href="{{../url}}" class="card__image">
               <img
                  src="{{url}}"
                  {{#if @config.site.responsiveImages}}
                     {{responsiveImageAttributes 'tagImage' srcset sizes}}
                  {{/if}}
                  {{ lazyload "lazy" }}
                  height="{{height}}"
                  width="{{width}}"
                  alt="{{alt}}">
            </a>
         {{/if}}
      {{/featuredImage}}

      <div class="card__content">
         <h2 class="h4">
            <a href="{{url}}" class="invert">{{name}}</a>
         </h2>
         {{#if @config.custom.tagsPostNumber}}
            <div class="card__meta">
               {{postsNumber}} {{ translate "tags.post" (math postsNumber '+' 0)}}              
            </div>
         {{/if}}
         {{#if @config.custom.tagsDescription}}
            {{#if description}}
               <div class="card__text">
                  <p>{{description}}</p>
               </div>
            {{/if}}
         {{/if}}
      </div>
   </li>
{{/each}}
