{{#post}}
   <main>
      <div class="wrapper">
         <div class="post">
            <article>
               <header class="post__inner post__header post__header--full">
                  {{#if @config.post.displayMainTag}}
                     {{#if mainTag}}
                        <a href="{{ mainTag.url }}" class="post__maintag">{{ mainTag.name }}</a>
                     {{/if}}
                  {{/if}}
                  <h1 class="post__title">{{title}}</h1>

                  {{#checkIfAny @config.post.displayAuthor @config.post.displayDate @config.post.displayComments}}
                     <div class="card__meta post__meta">
                        {{#if @config.post.displayAuthor}}
                           <div class="post__author">{{ translate 'post.publishedBy' }}
                              {{#author}}
                                 <a href="{{url}}" class="invert" rel="author">
                                    {{name}}</a>
                              {{/author}}
                           </div>
                        {{/if}}

                        {{#if @config.post.displayDate}}
                           <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                              {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                 {{date createdAt @config.custom.formatDate}}
                              {{else}}
                                 {{date createdAt @config.custom.formatDateCustom}}
                              {{/checkIf}}
                           </time>
                        {{/if}}
                         
                         {{#if @config.post.displayComments}}
                           <div class="card__comments">
                              <svg aria-hidden="true">
                                 <title>{{ translate 'post.comments' }}</title>
                                 <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#comments"/>
                              </svg>
                              <a
                                 href="{{url}}#post-comments"
                                 data-disqus-identifier="{{id}}"
                                 class="invert"
                                 rel="nofollow">
                                 0
                              </a>
                           </div>
                        {{/if}}
                         
                     </div>
                  {{/checkIfAny}}
               </header>

               {{#featuredImage}}
                  {{#if url}}
                     <figure class="post__hero-image post__hero-image--full">
                        <img
                           src="{{url}}"
                           {{#if @config.site.responsiveImages}}                           
                              {{responsiveImageAttributes 'featuredImage' srcset.post sizes.post}}
                           {{/if}}
                           {{ lazyload "eager" }}
                           height="{{height}}"
                           width="{{width}}"
                           alt="{{alt}}">
                        {{#checkIfAny caption credits}}
                           <figcaption>
                              {{caption}}
                              {{credits}}
                           </figcaption>
                        {{/checkIfAny}}
                     </figure>                     
                  {{/if}}
               {{/featuredImage}}
                
               {{#if @config.custom.postAd1}}
                  <div class="ads">
                     <div class="post__inner">
                        {{{@config.custom.postAd1}}}
                     </div>
                  </div>
               {{/if}}

               <div class="post__inner post__entry">
                  {{{text}}}
               </div>

               {{#checkIfAny @config.post.displayUpdatedDate @config.post.displayTags @config.post.displayShareButtons @config.post.displayAuthorBio @config.post.displayComments}}
                  <footer class="post__inner  post__footer">

                     {{#if @config.post.displayUpdatedDate}}
                        <div class="post__updated">{{ translate 'post.updated' }}
                           <time datetime="{{date modifiedAt 'YYYY-MM-DDTHH:mm'}}">
                              {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                 {{date modifiedAt @config.custom.formatDate}}
                              {{else}}
                                 {{date modifiedAt @config.custom.formatDateCustom}}
                              {{/checkIf}}
                           </time>
                        </div>
                     {{/if}}

                    {{#if @config.post.displayTags}}
                        {{#if tags}}
                           <div class="post__tag">
                              <h3 class="post__footer-title">{{ translate 'post.taggedIn' }}</h3>

                              <ul class="post__tag-inner">
                                 {{#each tags}}
                                    <li>
                                       <a href="{{url}}" class="invert">
                                          {{name}}
                                       </a>
                                    </li>
                                 {{/each}}
                              </ul>

                           </div>
                        {{/if}}
                     {{/if}}

                     {{#if @config.post.displayShareButtons}}
                        <div class="post__share">
                           <h3 class="post__footer-title">{{ translate 'post.shareStory' }}</h3>
                           <div class="post__share-inner">
                              {{> share-buttons}}
                           </div>
                        </div>
                     {{/if}}

                     {{#if @config.post.displayAuthorBio}}
                        <div class="author">
                           {{#author}}
                              {{#if avatar}}
                                 <img  src="{{avatarImage.url}}" 
                                       class="author__avatar" 
                                       {{ lazyload "lazy" }}
                                       alt="{{avatarImage.alt}}" 
                                       height="{{avatarImage.height}}" 
                                       width="{{avatarImage.width}}">                              
                              {{/if}}
                              <div class="author__info">
                                 <h3 class="h5  author__name">
                                    <a href="{{url}}" class="invert" rel="author">
                                       {{name}}
                                    </a>
                                 </h3>
                                 {{#if description}}
                                    <p>{{description}}</p>
                                 {{/if}}
                              </div>
                           {{/author}}
                        </div>
                     {{/if}}

                     {{#if @config.post.displayComments}}
                        <div class="post__comments" id="post-comments">
                           {{#checkIf @config.custom.commentOnClick '==' "click" }}
                              <button class="post__comments-button js-post__comments-button">{{ translate 'post.loadComments' }}</button>
                              <div
                                 class="post__comments-inner post__comments-inner--hidden js-post__comments-inner">
                                 <h3 class="h6">
                                    {{ translate 'post.comments' }}</h3>
                                 {{> disqus}}
                              </div>
                           {{else}}
                              <div class="post__comments-inner">
                                 <h3 class="h6">
                                    {{ translate 'post.comments' }}</h3>
                                 {{> disqus}}
                              </div>
                           {{/checkIf}}
                        </div>
                     {{/if}}
                      
                     {{#checkIfAny @config.post.displayPostNavigation @config.post.displayShareButtons}}
                        <div class="post__bar postbar" id="js-post__bar">
                           <div class="postbar__inner">
                               
                              {{#if @config.post.displayPostNavigation}}
                                 <div class="postbar__nav">
                                    <a
                                       class="postbar__nav-link invert"
                                       href="{{#../previousPost}}{{url}}{{/../previousPost}}"
                                       rel="prev">
                                       <svg height="9" width="5">
                                          <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#arrow-prev"/>
                                       </svg>
                                       <span>
                                          {{ translate 'post.previousPost' }}
                                       </span>
                                    </a>
                                 </div>
                              {{/if}}

                              {{#if @config.post.displayShareButtons}}
                                 <div class="postbar__share">
                                    <div class="postbar__share-inner">
                                       <h3>{{ translate 'post.share' }}</h3>
                                       {{> share-buttons-postbar}}
                                    </div>
                                 </div>
                              {{/if}}

                              {{#if @config.post.displayPostNavigation}}
                                 <div class="postbar__nav">
                                    <a
                                       class="postbar__nav-link invert"
                                       href="{{#../nextPost}}{{url}} {{/../nextPost}}"
                                       rel="prev">
                                       <span>
                                          {{ translate 'post.nextPost' }}
                                       </span>
                                       <svg height="9" width="5">
                                          <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#arrow-next"/>
                                       </svg>
                                    </a>
                                 </div>
                              {{/if}}

                              <div class="postbar__progress" id="js-postbar__progress" aria-hidden="true"></div>

                           </div>
                        </div>
                     {{/checkIfAny}}

                  </footer>
               {{/checkIfAny}}
            </article>
         </div>
      </div>
       
      {{#if @config.custom.postAd2}}
         <div class="ads ads--mb">
            <div class="wrapper">
               {{{@config.custom.postAd2}}}
            </div>
         </div>
      {{/if}}

      {{#if @config.post.displayRelatedPosts}}
         {{#if ../relatedPosts}}
            <div class="post__related">
               <div class="wrapper">
                  <h3 class="h6">
                     {{ translate 'post.relatedPosts' }}
                  </h3>
                  <div class="cards post__related-cards">
                     {{#each ../relatedPosts}}
                        <div class="card__item">
                           {{#if @config.custom.frontFeaturedImage}}
                              {{#featuredImage}}
                                 {{#if url}}
                                    <a href="{{../url}}" class="card__image">
                                       <img
                                          src="{{urlMd}}"
                                          {{ lazyload "lazy" }}
                                          height="{{height}}"
                                          width="{{width}}"
                                          alt="{{alt}}">
                                    </a>                              
                                 {{/if}}
                              {{/featuredImage}}
                           {{/if}}
                           <div class="card__content">
                              <h3 class="card__title">
                                 <a href="{{url}}" class="invert">{{title}}</a>
                              </h3>
                              {{#checkIfAny @config.custom.frontAuthor @config.custom.frontDate}}
                                 <div class="card__meta">
                                    {{#if @config.custom.frontAuthor}}
                                       <div class="card__author">{{ translate 'post.publishedBy' }}
                                          {{#author}}
                                             <a href="{{url}}" class="invert" rel="author">
                                                {{name}}</a>
                                          {{/author}}
                                       </div>
                                    {{/if}}
                                    {{#if @config.custom.frontDate}}
                                       <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                                          {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                             {{date createdAt @config.custom.formatDate}}
                                          {{else}}
                                             {{date createdAt @config.custom.formatDateCustom}}
                                          {{/checkIf}}
                                       </time>
                                    {{/if}}
                                 </div>
                              {{/checkIfAny}}
                           </div>
                        </div>
                     {{/each}}
                  </div>
               </div>
            </div>
         {{/if}}
      {{/if}}

   </main>
{{/post}}
