<div class="sidebar">

   {{#if @config.custom.sidebarAd1}}
      <div class="sidebar__item ads">
         {{{@config.custom.sidebarAdCode1}}}
      </div>
   {{/if}}

   {{#checkIf @config.custom.featuredSource '==' "featured"}}
      {{#if @config.custom.featured}}
         {{#if featuredPosts}}
            <div class="sidebar__item featured-posts">
               <h2 class="h6 sidebar__item-title">{{ translate 'partials.sidebar.featuredPosts' }}</h2>
               {{#each featuredPosts}}
                  {{#checkIf @index '<' 1}}
                     {{#if @config.custom.featuredImage}}
                        {{#featuredImage}}
                           {{#if url}}
                              <a href="{{../url}}" class="card__image featured-posts__image">
                                 <img
                                    {{#if @config.site.responsiveImages}}
                                       {{responsiveImageAttributes 'featuredImage' srcset.listing sizes.post}}
                                    {{/if}}
                                    {{ lazyload "lazy" }}
                                    height="{{height}}"
                                    width="{{width}}"
                                    alt="{{alt}}">
                              </a>                            
                           {{/if}}
                        {{/featuredImage}}
                     {{/if}}
                  {{/checkIf}}
               {{/each}}

               <ol class="featured-posts__list">
                  {{#each featuredPosts}}
                     {{#checkIf @index '<' @config.custom.featuredAmount}}
                        <li class="featured-posts__item">

                           <h3 class="card__title">
                              <a href="{{url}}" class="invert">{{title}}</a>
                           </h3>
                           {{#if @config.custom.featuredDate}}
                              <div class="card__meta">
                                 <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                                    {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                       {{date createdAt @config.custom.formatDate}}
                                    {{else}}
                                       {{date createdAt @config.custom.formatDateCustom}}
                                    {{/checkIf}}
                                 </time>
                              </div>
                           {{/if}}
                        </li>
                     {{/checkIf}}
                  {{/each}}
               </ol>
            </div>
         {{/if}}
      {{/if}}
   {{else}}
      {{#if @config.custom.featured}}
         <div class="sidebar__item featured-posts">
            <h2 class="h6 sidebar__item-title">{{ translate 'partials.sidebar.featuredPosts' }}</h2>
            {{#getPostsByTags @config.custom.featuredAmount @config.custom.featuredTagIndicator ""}}
               {{#checkIf @index '<' 1}}
                  {{#if @config.custom.featuredImage}}
                     {{#featuredImage}}
                        {{#if url}}
                           <a href="{{../url}}" class="card__image featured-posts__image">
                              <img
                                 {{#if @config.site.responsiveImages}}
                                    {{responsiveImageAttributes 'featuredImage' srcset.listing sizes.post}}
                                 {{/if}}
                                 {{ lazyload "lazy" }}
                                 height="{{height}}"
                                 width="{{width}}"
                                 alt="{{alt}}">
                           </a>
                        {{/if}}
                     {{/featuredImage}}
                  {{/if}}
               {{/checkIf}}
            {{/getPostsByTags}}
            <ol class="cards featured-posts__list">
               {{#getPostsByTags @config.custom.featuredAmount @config.custom.featuredTagIndicator ""}}
                  <li class="featured-posts__item">
                     <h3 class="card__title">
                        <a href="{{url}}" class="invert">{{title}}</a>
                     </h3>
                     {{#if @config.custom.featuredDate}}
                        <div class="card__meta">
                           <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                              {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                 {{date createdAt @config.custom.formatDate}}
                              {{else}}
                                 {{date createdAt @config.custom.formatDateCustom}}
                              {{/checkIf}}
                           </time>
                        </div>
                     {{/if}}
                  </li>
               {{/getPostsByTags}}
            </ol>
         </div>
      {{/if}}
   {{/checkIf}}

   {{#if @config.custom.sidebarAd2}}
      <div class="sidebar__item ads">
         {{{@config.custom.sidebarAdCode2}}}
      </div>
   {{/if}}

   {{#if @config.custom.latest}}
      <div class="sidebar__item latest-review">
         <h2 class="h6 sidebar__item-title">{{ translate 'partials.sidebar.latestReviews' }}</h2>
         <ul class="cards latest-review__list">
            {{#getPostsByTags @config.custom.latestAmount @config.custom.latestTagIndicator ""}}
               <li class="latest-review__item">
                  {{#if @config.custom.latestImage}}
                     {{#featuredImage}}
                        {{#if url}}
                           <a href="{{../url}}" class="card__image">
                              <img
                                 {{#if @config.site.responsiveImages}}
                                    {{responsiveImageAttributes 'featuredImage' srcset.listing sizes.post}}
                                 {{/if}}
                                 {{ lazyload "lazy" }}
                                 height="{{height}}"
                                 width="{{width}}"
                                 alt="{{alt}}">
                           </a>
                        {{/if}}
                     {{/featuredImage}}
                  {{/if}}

                  <h3 class="card__title">
                     <a href="{{url}}">{{title}}</a>
                  </h3>
                  {{#if @config.custom.latestDate}}
                     <div class="card__meta">
                        <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                           {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                              {{date createdAt @config.custom.formatDate}}
                           {{else}}
                              {{date createdAt @config.custom.formatDateCustom}}
                           {{/checkIf}}
                        </time>
                     </div>
                  {{/if}}
               </li>
            {{/getPostsByTags}}
         </ul>
         {{#if @config.custom.latestButton}}
            {{#getTag @config.custom.latestTagIndicator}}
               <a href="{{url}}" class="btn btn--small btn--outline">{{ translate 'partials.sidebar.moreReviews' }}</a>
            {{/getTag}}
         {{/if}}
      </div>
   {{/if}}

   {{#if @config.custom.sidebarAd3}}
      <div class="sidebar__item ads">
         {{{@config.custom.sidebarAdCode3}}}
      </div>
   {{/if}}

   {{#if @config.custom.tags}}
      {{#if tags}}
         <div class="sidebar__item tags">
            <h2 class="h6 sidebar__item-title">{{ translate 'partials.sidebar.categories' }}</h2>
            <ul class="tags__list">
               {{#each tags}}
                  {{#checkIf @index '<' @config.custom.tagsAmount}}
                     <li class="tags__item">
                        <a href="{{url}}" class="invert">{{name}}
                           <span>({{postsNumber}})</span></a>
                     </li>
                  {{/checkIf}}
               {{/each}}
            </ul>
         </div>
      {{/if}}
   {{/if}}

   {{#if @config.custom.sidebarAd4}}
      <div class="sidebar__item ads">
         {{{@config.custom.sidebarAdCode4}}}
      </div>
   {{/if}}

   {{#if @config.custom.authors}}
      <div class="sidebar__item authors">
         <h2 class="h6 sidebar__item-title">{{ translate 'partials.sidebar.authors' }}</h2>
         <ul class="cards authors__list">
            {{#each authors}}
               {{#checkIf @index '<' @config.custom.authorsAmount}}
                  <li class="authors__item">
                     {{#if @config.custom.authorsAvatar}}
                        {{#if avatar}}
                           <a href="{{url}}" class="authors__image">                        
                              <img  src="{{avatarImage.url}}" 
                                    {{ lazyload "lazy" }} 
                                    alt="{{avatarImage.alt}}" 
                                    height="{{avatarImage.height}}" 
                                    width="{{avatarImage.width}}">                            
                           </a>
                        {{/if}}
                     {{/if}}
                     <div>
                        <h3 class="card__title">
                           <a href="{{url}}" class="invert">{{name}}</a>
                        </h3>
                        {{#if @config.custom.authorsPostCount}}
                           <div class="card__meta">
                              {{postsNumber}}
                              {{ translate "partials.sidebar.post" (math postsNumber '+' 0)}}
                           </div>
                        {{/if}}
                     </div>
                  </li>
               {{/checkIf}}
            {{/each}}
         </ul>
      </div>
   {{/if}}

   {{#if @config.custom.sidebarAd5}}
      <div class="sidebar__item ads">
         {{{@config.custom.sidebarAdCode5}}}
      </div>
   {{/if}}

</div>
