{{#if @config.custom.socialFacebook}}
   <a href="{{@config.custom.socialFacebook}}" aria-label="Facebook" class="facebook">
      <svg>
         <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#facebook"/>
      </svg>
   </a>
{{/if}}
{{#if @config.custom.socialTwitter}}
   <a href="{{@config.custom.socialTwitter}}" aria-label="Twitter" class="twitter">
      <svg>
         <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#twitter"/>
      </svg>
   </a>
{{/if}}
{{#if @config.custom.socialInstagram}}
   <a href="{{@config.custom.socialInstagram}}" aria-label="Instagram" class="instagram">
      <svg>
         <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#instagram"/>
      </svg>
   </a>
{{/if}}
{{#if @config.custom.socialLinkedin}}
   <a href="{{@config.custom.socialLinkedin}}" aria-label="LinkedIn" class="linkedin">
      <svg>
         <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#linkedin"/>
      </svg>
   </a>
{{/if}}
{{#if @config.custom.socialVimeo}}
   <a href="{{@config.custom.socialVimeo}}" aria-label="Vimeo" class="vimeo">
      <svg>
         <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#vimeo"/>
      </svg>
   </a>
{{/if}}
{{#if @config.custom.socialPinterest}}
   <a href="{{@config.custom.socialPinterest}}" aria-label="Pinterest" class="pinterest">
      <svg>
         <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#pinterest"/>
      </svg>
   </a>
{{/if}}
{{#if @config.custom.socialYoutube}}
   <a href="{{@config.custom.socialYoutube}}" aria-label="Youtube" class="youtube">
      <svg>
         <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#youtube"/>
      </svg>
   </a>
{{/if}}