{{> head}}
{{> navbar}}
<main class="main main--splitted page page--tag">
   <div class="main__left main--splitted__left">
      <div class="highlighted">
         {{#tag}}
            <header class="highlighted__header">
               <h1 class="highlighted__title">{{name}}</h1>
               {{#if description}}
               <p class="highlighted__text">{{description}}</p>
               {{/if}}
            </header>
            {{#featuredImage}}
               {{#if url}}
                  <figure class="highlighted__image is-img-loading">
                     <img
                        src="{{url}}"
                        {{#if @config.site.responsiveImages}}
                           {{responsiveImageAttributes 'tagImage' srcset sizes}}
                        {{/if}}
                        {{ lazyload "lazy" }}
                        height="{{height}}"
                        width="{{width}}"
                        alt="{{alt}}">
                  </figure>
               {{/if}}
            {{/featuredImage}}
         {{/tag}}
      </div>
	</div>

   <div class="main__right">
      {{#each posts}}
         <article class="c-card">
            <header class="c-card__body">
               <h2 class="c-card__title">
                  <a href="{{url}}">{{title}}
                  </a>
               </h2>
               {{#checkIfAny @config.custom.cardsAuthor @config.custom.cardsDate}}
                  <div class="metadata c-card__metadata">
                     {{#if @config.custom.cardsAuthor}}
                        <a href="{{author.url}}" class="metadata__author">{{author.name}}</a>
                     {{/if}}
                     {{#if @config.custom.cardsDate}}
                        <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}" class="metadata__date">
                           {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                              {{date createdAt @config.custom.formatDate}}
                           {{else}}
                              {{date createdAt @config.custom.formatDateCustom}}
                           {{/checkIf}}
                        </time>
                     {{/if}}
                  </div>
               {{/checkIfAny}}
            </header>
            {{#featuredImage}}
               {{#if url}}
                  <figure class="c-card__image is-img-loading">
                     <a href="{{../url}}">
                        <img
                           src="{{url}}"
                           {{#if @config.site.responsiveImages}}
                              {{responsiveImageAttributes 'featuredImage' srcset.s-cards sizes.s-cards}}
                           {{/if}}
                           {{ lazyload "lazy" }}
                           height="{{height}}"
                           width="{{width}}"
                           alt="{{alt}}">
                     </a>
                  </figure>
               {{/if}}
            {{/featuredImage}}
         </article>
      {{/each}}
      {{> pagination}}
   </div>

</main>
{{> footer}}
