{{> head}}
{{> navbar}}
{{#checkIf @config.custom.frontSource '==' "post" }}
    {{#checkIf @config.custom.frontPostTemplate '==' "default" }}
        {{> frontpage-post}}
    {{/checkIf}}
    {{#checkIf @config.custom.frontPostTemplate '==' "divided" }}
        {{> frontpage-post-divided-header}}
    {{/checkIf}}
    {{#checkIf @config.custom.frontPostTemplate '==' "full-image" }}
        {{> frontpage-post-full-image-header}}
    {{/checkIf}}
    {{#checkIf @config.custom.frontPostTemplate '==' "with-sidebar" }}
        {{> frontpage-post-with-sidebar}}
    {{/checkIf}}
{{else}}
   <main>
      {{#if @config.custom.frontAd1}}
          <div class="ads ads--mt">
             <div class="wrapper">
                {{{@config.custom.frontAd1}}}
             </div>
          </div>
      {{/if}}
      {{#if @config.custom.editorPicks}}
         {{#checkIfAny @config.custom.editorPicksPagination @renderer.isFirstPage}}       
            <div class="editor-picks {{@config.custom.editorPicksLayout}}">
               <div class="wrapper cards">
                  {{#getPostsByTags 5 @config.custom.editorPicksTagIndicator ""}}
                     {{#checkIf @index '==' 0}}
                        <article class="card__item">

                           {{#featuredImage}}
                              {{#if url}}
                                 <a href="{{../url}}" class="card__image card__image--big">
                                    <img
                                       src="{{url}}"
                                       {{#if @config.site.responsiveImages}}
                                          {{responsiveImageAttributes 'featuredImage' srcset.listing sizes.listing}}
                                       {{/if}}
                                       {{ lazyload "eager" }}
                                       height="{{height}}"
                                       width="{{width}}"
                                       alt="{{alt}}">
                                 </a>                                 
                              {{/if}}
                           {{/featuredImage}}

                           <div class="card__content--big">
                              {{#if @config.custom.editorPicksTag}}
                                 {{#getTag @config.custom.editorPicksTagIndicator}}
                                    <a href="{{url}}" class="card__maintag card__content--big__maintag">{{name}}</a>
                                 {{/getTag}}
                              {{/if}}
                              <h1 class="card__content--big__title">
                                 <a href="{{url}}" class="invert">{{title}}</a>
                              </h1>
                              {{#if @config.custom.editorPicksAuthor}}
                                 {{#author}}
                                    <div class="card__meta card__content--big__meta">
                                       {{ translate 'post.publishedBy' }}
                                       <a href="{{url}}" class="invert">{{name}}</a>
                                    </div>
                                 {{/author}}
                              {{/if}}
                           </div>
                        </article>
                     {{/checkIf}}

                     {{#checkIf @index '>' 0 }}
                        <article class="card__item">
                           {{#featuredImage}}
                              {{#if url}}
                                 <a href="{{../url}}" class="card__image">
                                    <img
                                       src="{{url}}"
                                       {{#if @config.site.responsiveImages}}
                                          {{responsiveImageAttributes 'featuredImage' srcset.listing sizes.listing}}
                                       {{/if}}
                                       {{ lazyload "lazy" }}
                                       height="{{height}}"
                                       width="{{width}}"
                                       alt="{{alt}}">
                                 </a>
                              {{/if}}
                           {{/featuredImage}}

                           <h2 class="card__title">
                              <a href="{{url}}" class="invert">{{title}}</a>
                           </h2>
                           {{#if @config.custom.editorPicksAuthor}}
                              {{#author}}
                                 <div class="card__meta">
                                    {{ translate 'post.publishedBy' }}
                                    <a href="{{url}}" class="invert">{{name}}</a>
                                 </div>
                              {{/author}}
                           {{/if}}
                        </article>
                     {{/checkIf}}
                  {{/getPostsByTags}}
               </div>
            </div>       
         {{/checkIfAny}}        
      {{/if}}
       
      {{#if @config.custom.frontAd2}}
          <div class="ads ads--mt">
             <div class="wrapper">
                {{{@config.custom.frontAd2}}}
             </div>
          </div>
      {{/if}}

      <div class="wrapper">
         <div class="container 
                     {{#if @config.custom.frontSidebar}}container--sidebar{{/if}}
                     {{#checkIf @config.custom.frontSidebar '==' false}}
                        {{#checkIf @config.custom.frontSidebarContentLayout '==' "centered"}}
                           container--centered
                        {{/checkIf}}
                     {{/checkIf}}">
            <div class="articles {{#if @config.custom.frontSidebar}}is-sidebar{{/if}}">
                {{#if @config.custom.frontAd3}}
                    <div class="ads ads--mb">
                        {{{@config.custom.frontAd3}}}                       
                    </div>
                {{/if}}
              <div
                  class="articles__inner {{@config.custom.frontLayout}} {{#checkIf @config.custom.frontLayout '==' "articles__inner--layout-3"}}{{@config.custom.frontLayoutColumns}}{{/checkIf}} ">

                  {{#checkIf @config.custom.frontLayout '==' "articles__inner--layout-1"}}
                     {{> listing-front-1}}
                  {{/checkIf}}

                  {{#checkIf @config.custom.frontLayout '==' "articles__inner--layout-2"}}
                     {{> listing-front-2}}
                  {{/checkIf}}

                  {{#checkIf @config.custom.frontLayout '==' "articles__inner--layout-3"}}
                     {{> listing-front-3}}
                  {{/checkIf}}
                  
                   {{#checkIf @config.custom.frontLayout '==' "articles__inner--layout-4"}}
                     {{> listing-front-4}}
                  {{/checkIf}}

               </div>
               {{> pagination}}
                
               {{#if @config.custom.frontAd4}}
                  <div class="ads ads--mt">
                    {{{@config.custom.frontAd4}}}                       
                  </div>
               {{/if}}
                
            </div>
            {{#if @config.custom.frontSidebar}}
               {{> sidebar}}
            {{/if}}
         </div>
      </div>

   </main>
{{/checkIf}}
{{> footer}}