{{> head}}
{{> navbar}}

<main class="main page page--error">
   <h1 class="main__heading">{{ translate 'error.404' }}</h1>
   <div class="highlighted">
      <header class="highlighted__header page--error__header">
         <h2>{{ translate 'error.pageNotFound' }}</h2>
         <p class="page__description page--error__description">{{ translate 'error.message' }}</p>
         <p>
              <a href="{{@website.url}}" class="btn">{{ translate 'error.goHome' }}</a>
         </p>
   </div>
</main>
{{> footer}}