{{> head}}
{{> navbar}}
<main class="main main--splitted page page--author">
   <div class="main__left main--splitted__left">
      <div class="highlighted">
         {{#author}}
            <header class="highlighted__header page--author__header">
               {{#if avatar}}
                  <img
                     src="{{avatar}}"
                     {{ lazyload "eager" }}
                     class="page--author__avatar"
                     alt="{{name}}">
               {{/if}}
               <div>
                  <h1 class="highlighted__title">{{name}}</h1>
                  {{#if description}}
                     <p class="highlighted__text">{{description}}</p>
                  {{/if}}
                  {{#if website}}
                     <p class="page--author__website">
                        <svg height="24" width="24" fill="var(--dark)" aria-hidden="true">
                           <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#website"/>
                        </svg>
                        <a href="{{website}}" target="_blank" rel="nofollow noreferrer noopener">{{ translate 'author.visitWebsite' }}</a>
                     </p>
                  {{/if}} 
               </div>
            </header>
            {{#featuredImage}}
               {{#if url}}
                  <figure class="highlighted__image is-img-loading">
                     <img
                        src="{{url}}"
                        {{#if @config.site.responsiveImages}}
                           {{responsiveImageAttributes 'authorImage' srcset sizes}}
                        {{/if}}
                        {{ lazyload "lazy" }}
                        height="{{height}}"
                        width="{{width}}"
                        alt="{{alt}}">
                  </figure>
               {{/if}}
            {{/featuredImage}}
         {{/author}}
      </div>
	</div>

   <div class="main__right">
      {{#each posts}}
         <article class="c-card">
            <header class="c-card__body">
               <h2 class="c-card__title">
                  <a href="{{url}}">{{title}}
                  </a>
               </h2>
               {{#checkIfAny @config.custom.cardsMainTag @config.custom.cardsDate}}
                  <div class="metadata c-card__metadata">
                     {{#if @config.custom.cardsMainTag}}
                        {{#if mainTag}}
                           <a href="{{mainTag.url}}" class="metadata__maintag">{{ mainTag.name }}</a>
                        {{/if}}
                     {{/if}}
                     {{#if @config.custom.cardsDate}}
                        <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}" class="metadata__date">
                           {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                              {{date createdAt @config.custom.formatDate}}
                           {{else}}
                              {{date createdAt @config.custom.formatDateCustom}}
                           {{/checkIf}}
                        </time>
                     {{/if}}
                  </div>
               {{/checkIfAny}}
            </header>
            {{#featuredImage}}
               {{#if url}}
                  <figure class="c-card__image is-img-loading">
                     <a href="{{../url}}">
                        <img
                           src="{{url}}"
                           {{#if @config.site.responsiveImages}}
                              {{responsiveImageAttributes 'featuredImage' srcset.s-cards sizes.s-cards}}
                           {{/if}}
                           {{ lazyload "lazy" }}
                           height="{{height}}"
                           width="{{width}}"
                           alt="{{alt}}">
                     </a>
                  </figure>
               {{/if}}
            {{/featuredImage}}
         </article>
      {{/each}}
      {{> pagination}}
   </div>

</main>
{{> footer}}