{{> head}}
{{> navbar}}
<main class="main">
   {{#post}}
      <article class="post {{#checkIfAny @config.post.displayShareButtons @config.post.displayTags @config.post.displayPostNavigation}}{{#checkIf @config.post.sidebarPosition '===' "left"}}post--sidebar-left{{else}}post--sidebar-right{{/checkIf}}{{/checkIfAny}}">
         <header class="post__header">
            <h1 class="post__title">{{title}}</h1>
            {{#checkIfAny @config.post.displayMainTag @config.post.displayAuthor @config.post.displayDate @config.post.displayUpdatedDate}}
               <div class="metadata">
                  {{#if @config.post.displayMainTag}}
                     {{#if mainTag}}
                        <a href="{{mainTag.url}}" class="metadata__maintag">{{ mainTag.name }}</a>
                     {{/if}}
                  {{/if}}
                  {{#if @config.post.displayAuthor}}
                     <a href="{{author.url}}" class="metadata__author">{{author.name}}</a>
                  {{/if}}
                  {{#if @config.post.displayDate}}
                     <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}" class="metadata__date">
                        {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                           {{date createdAt @config.custom.formatDate}}
                        {{else}}
                           {{date createdAt @config.custom.formatDateCustom}}
                        {{/checkIf}}
                     </time>
                  {{/if}}
                  {{#if @config.post.displayUpdatedDate}}
                        <div class="metadata__update">
                           ({{ translate 'post.lastUpdatedDate' }}
                           <time datetime="{{date modifiedAt 'YYYY-MM-DDTHH:mm'}}">
                              {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                 {{date modifiedAt @config.custom.formatDate}}
                              {{else}}
                                 {{date modifiedAt @config.custom.formatDateCustom}}
                              {{/checkIf}}
                           </time>)
                        </div>
                     {{/if}}
               </div>
            {{/checkIfAny}}
         </header>

         <div class="post__entry">
            {{#if @config.post.displayFeaturedImage}}
               {{#featuredImage}}
                  {{#if url}}
                     <figure class="post__featured-image is-img-loading">
                        <img
                           src="{{url}}"
                           {{#if @config.site.responsiveImages}}
                              {{responsiveImageAttributes 'featuredImage' srcset.post sizes.post}}
                           {{/if}}
                           {{ lazyload "eager" }}
                           height="{{height}}"
                           width="{{width}}"
                           alt="{{alt}}">
                        {{#checkIfAny caption credits}}
                           <figcaption>
                              {{caption}}
                              {{credits}}
                           </figcaption>
                        {{/checkIfAny}}
                     </figure>
                  {{/if}}
               {{/featuredImage}}
            {{/if}}
            {{{text}}}
         </div>

         {{#checkIfAny @config.post.displayShareButtons @config.post.displayTags @config.post.displayPostNavigation}}
            <aside class="post__sidebar {{#checkIf @config.post.sidebarPosition '===' "left"}}post__sidebar--left{{else}}post__sidebar--right{{/checkIf}}">
               <div class="sidebar {{#if @config.custom.sidebarSticky}}sidebar--sticky{{/if}}">

                  {{#if @config.post.displayShareButtons}}
                     <section class="sidebar__item">
                        <h3 class="sidebar__title">{{ translate 'post.shareOn' }}</h3>
                        {{> share-buttons}}
                     </section>
                  {{/if}}

                  {{#if @config.post.displayTags}}
                     {{#if tags}}
                     <section class="sidebar__item">
                        <h3 class="sidebar__title">{{ translate 'post.taggedIn' }}</h3>
                        <div class="post__tag">
                           <ul>
                              {{#each tags}}
                                 <li>
                                    <a href="{{url}}" title="{{name}}">
                                       {{name}}
                                    </a>
                                 </li>
                              {{/each}}
                           </ul>
                        </div>
                     </section>
                     {{/if}}
                  {{/if}}

                  {{#if @config.post.displayPostNavigation}}
                     {{#checkIfAny ../previousPost ../nextPost}}
                        <nav class="sidebar__item post__nav">
                              {{#../previousPost}}
                                 <div class="post__nav__prev">
                                    <h3 class="sidebar__title">{{ translate 'post.previousPost' }}</h3>
                                    <a href="{{url}}" rel="next">{{title}}</a>
                                 </div>
                              {{/../previousPost}}
                              {{#../nextPost}}
                                 <div class="post__nav__next">
                                    <h3 class="sidebar__title">{{ translate 'post.nextPost' }}</h3>
                                    <a href="{{url}}" rel="next">{{title}}</a>
                                 </div>
                              {{/../nextPost}}
                        </nav>
                     {{/checkIfAny}}
                  {{/if}}

               </div>
         </aside>
         {{/checkIfAny}}

         {{#checkIfAny @config.post.displayAuthorBio @config.post.displayComments}}
            <footer class="post__footer">
               {{#if @config.post.displayAuthorBio}}
                  <div class="post__author">
                     {{#author}}
                        {{#if avatar}}
                           <img src="{{avatar}}" {{ lazyload "lazy" }} alt="{{name}}">
                        {{/if}}
                        <div>
                           <h3 class="h6">
                              <a href="{{url}}" rel="author">{{name}}</a>
                           </h3>
                           {{#if description}}
                              <p>{{description}}</p>
                           {{/if}}
                        </div>
                     {{/author}}
                  </div>
               {{/if}}

               {{#if @config.post.displayComments}}
                  <div class="post__comments">
                     <h3>{{ translate 'partials.disqus.comments' }}</h3>
                     {{> disqus}}
                  </div>
               {{/if}}
            </footer>
         {{/checkIfAny}}

      </article>

      {{#if @config.post.displayRelatedPosts}}
         {{#if ../relatedPosts}}
            <div class="post__related">
               <h3>
                  {{ translate 'post.relatedPosts' }}
               </h3>
               <div class="l-grid">
                  {{#each ../relatedPosts}}
                     <article class="c-card c-card--compact">
                        <div class="c-card__body">
                           <header>
                              <h2 class="c-card__title c-card__title--compact">
                                 <a href="{{url}}">{{title}}</a>
                              </h2>
                           </header>
                           {{#checkIfAny @config.custom.cardsMainTag @config.custom.cardsAuthor @config.custom.cardsDate}}
                              <div class="metadata c-card__metadata c-card__metadata--compact">
                                 {{#if @config.custom.cardsMainTag}}
                                    {{#if mainTag}}
                                       <a href="{{mainTag.url}}" class="metadata__maintag">{{ mainTag.name }}</a>
                                    {{/if}}
                                 {{/if}}
                                 {{#if @config.custom.cardsAuthor}}
                                    <a href="{{author.url}}" class="metadata__author">{{author.name}}</a>
                                 {{/if}}
                                 {{#if @config.custom.cardsDate}}
                                    <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}" class="metadata__date">
                                       {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                          {{date createdAt @config.custom.formatDate}}
                                       {{else}}
                                          {{date createdAt @config.custom.formatDateCustom}}
                                       {{/checkIf}}
                                    </time>
                                 {{/if}}
                              </div>
                           {{/checkIfAny}}
                        </div>
                        {{#featuredImage}}
                           {{#if url}}
                              <figure class="c-card__image c-card__image--compact is-img-loading">
                                 <a href="{{../url}}">
                                    <img
                                       src="{{url}}"
                                       {{#if @config.site.responsiveImages}}
                                          {{responsiveImageAttributes 'featuredImage' srcset.l-cards sizes.l-cards}}
                                       {{/if}}
                                       {{ lazyload "lazy" }}
                                       height="{{height}}"
                                       width="{{width}}"
                                       alt="{{alt}}">
                                 </a>
                              </figure>
                           {{/if}}
                        {{/featuredImage}}
                     </article>
                  {{/each}}
            </div>
         {{/if}}
      {{/if}}
   {{/post}}
</main>
{{> footer}}
