{{> head}}
{{> navbar}}

<main class="main page page--tags">
   <div class="highlighted">
      <div class="highlighted__header">
         <h1 class="highlighted__title">
            {{ translate 'tags.tagsPageTitle' }}
         </h1>
         <p class="highlighted__text">{{ translate "tags.description" tagsNumber }}</p>
      </div>
   </div>

   <ul class="tags-list">
      {{#each tags}}
         <li class="c-card c-card--compact">
            <h2 class="c-card__title c-card__title--compact">
               <a href="{{url}}" class="al">{{name}}</a>
               <sup>({{postsNumber}})</sup>
            </h2>
            {{#if @config.custom.tagsFeaturedImage}}
               {{#featuredImage}}
                  {{#if url}}
                     <figure class="c-card__image c-card__image--compact is-img-loading">
                        <a href="{{../url}}">
                           <img
                              src="{{url}}"
                              {{#if @config.site.responsiveImages}}
                                 {{responsiveImageAttributes 'tagImage' srcset sizes}}
                              {{/if}}
                              {{ lazyload "lazy" }}
                              height="{{height}}"
                              width="{{width}}"
                              alt="{{alt}}">
                        </a>
                     </figure>
                  {{/if}}
               {{/featuredImage}}   
            {{/if}}       
         </li>
      {{/each}}
   </ul>

</main>
{{> footer}}
