 {{#checkIf @config.custom.footerNewsletter '===' "mailchimp"}}
   <form
      action="{{@config.custom.footerNewsletterMailchimpURL}}"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
      target="_blank">
         <input name="EMAIL" class="required email" placeholder="{{ translate 'partials.footer.emailAddress' }}" id="mce-EMAIL"
            type="email" aria-label="{{ translate 'partials.footer.emailAddress' }}" required>        
            <button value="Subscribe" name="subscribe" id="mc-embedded-subscribe" type="submit">
               <svg aria-hidden="true" focusable="false">
                  <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#arrow" />
               </svg>
               <span>{{ translate 'partials.footer.submit' }}</span>
            </button>
   </form>
{{/checkIf}}

{{#checkIf @config.custom.footerNewsletter '===' "custom"}}
   {{{@config.custom.footerNewsletterFormCode}}}
{{/checkIf}}
