{{#if @pagination}}
   <nav class="pagination {{@website.postsOrdering}} {{#tag}}{{#checkIf template '==' "compact"}}pagination--compact{{/checkIf}}{{/tag}}">
      {{#checkIf @website.postsOrdering '==' "desc"}}
         {{#if @pagination.nextPage}}
            <a href="{{@pagination.nextPageUrl}}" class="h4 pagination__item">
               {{#checkIf @website.postsOrdering '==' "desc"}}
                  {{ translate 'partials.pagination.prev' }}
               {{else}}
                  {{ translate 'partials.pagination.next' }}
               {{/checkIf}}
            </a>
         {{/if}}
         {{#if @pagination.previousPage}}
            <a href="{{@pagination.previousPageUrl}}" class="h4 pagination__item">
               {{#checkIf @website.postsOrdering '==' "desc"}}
                  {{ translate 'partials.pagination.next' }}
               {{else}}
                  {{ translate 'partials.pagination.prev' }}
               {{/checkIf}}
            </a>
         {{/if}}
      {{else}}
         {{#if @pagination.previousPage}}
            <a href="{{@pagination.previousPageUrl}}" class="h4 pagination__item">
               {{#checkIf @website.postsOrdering '==' "desc"}}
                  {{ translate 'partials.pagination.next' }}
               {{else}}
                  {{ translate 'partials.pagination.prev' }}
               {{/checkIf}}
            </a>
         {{/if}}
         {{#if @pagination.nextPage}}
            <a href="{{@pagination.nextPageUrl}}" class="h4 pagination__item">
               {{#checkIf @website.postsOrdering '==' "desc"}}
                  {{ translate 'partials.pagination.prev' }}
               {{else}}
                  {{ translate 'partials.pagination.next' }}
               {{/checkIf}}
            </a>
         {{/if}}
      {{/checkIf}}
   </nav>
{{/if}}